@{
    ViewBag.Title = "Online Shopping : Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Online_Shop.DAL.Product> FeaturedProducts = (List<Online_Shop.DAL.Product>)ViewBag.FeaturedProducts;
}
<link href="~/Content/main.css" rel="stylesheet" />
<style>
    .profPerson .ProfImg {
        width: 240px;
        height: 153px;
    }

    .assistImg .transition {
        height: 107px;
    }
</style>

<div class="homeSlider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="bannerSlider" style="background: url(../images/HomePageBanner1.png) no-repeat center center;">

                </div>
            </li>
            <li>
                <div class="bannerSlider" style="background: url(../images/Home2.png) no-repeat center center;">
                </div>
            </li>
            <li>
                <div class="bannerSlider" style="background: url(../images/Home5.png) no-repeat center center;">
                </div>
            </li>
            <li>
                <div class="bannerSlider" style="background: url(../images/Home6.png) no-repeat center center;">
                </div>
            </li>
               <li>
                <div class="bannerSlider" style="background: url(../images/Home4.png) no-repeat center center;">
                </div>
            </li>
            </ul>
</div>
    </div>
        @*<section class="homepage-slider" id="home-slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>

                        <img src="~/images/banner-1.jpg" />
                    </li>
                    <li>

                        <img src="~/images/banner-2.jpg" />
                        <div class="intro">
                            <h1>Mid season sale</h1>
                            <p><span>Up to 50% Off</span></p>
                            <p><span>On selected items online and in stores</span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>*@


        <div class="searchOnline clearfix">
            <div class="container">
                <div class="olContent fl"><h2>Search Product/Category</h2></div>
                <div class="olSearch fr">
                    @using (Html.BeginForm("Index", "Search", FormMethod.Post))
                {
                    <div>
                        <input type="text" placeholder="Enter Keywords" onkeypress="return onlynumericOrCharacter();" name="searchKey" class="inputComn houseText">
                    </div>
                    <div class="searchIcon">
                        <button type="button" class="searchBtn" onclick="$(this).parent().parent().submit();">
                            <img src="/images/searchIcon.png" alt="img">
                        </button>
                    </div>
            }
                </div>
            </div>
        </div>
    </div> <!--End Slider--> <!--Start Featured Professionals-->
 <div class="featuredProfessionals">
    <div class="container">
        <h1>Featured Products</h1>
        <div class="professionSLider">
            <div class="profSlider">
                @foreach (var featured in FeaturedProducts)
                {
                    <div class="item">
                        <div class="profPerson">

                            @if (File.Exists(Server.MapPath(System.Configuration.ConfigurationManager.AppSettings["ProductImage"] + "Medium/" + featured.ProductId + "_" + featured.ProductImage)))
                            {
                                <img class="ProfImg" title="Click to view product detail" style="cursor:pointer;" onclick="window.location.href ='/search/productdetail?pId=@featured.ProductId'" src="@(System.Configuration.ConfigurationManager.AppSettings["ProductImage"] + "Medium/" + featured.ProductId+"_"+featured.ProductImage)" />
                            }
                            else
                            {
                                <img class="ProfImg" title="Click to view product detail" style="cursor:pointer;" onclick="window.location.href ='/search/productdetail?pId=@featured.ProductId'" src="@(System.Configuration.ConfigurationManager.AppSettings["ProductImage_Default_Medium"])" alt="" />
                            }
                            <div class="profMid clearfix">
                                <h2 title="Click to view product detail" style="cursor:pointer;"><a href="/search/productdetail?pId=@featured.ProductId">  @featured.ProductName</a></h2>                                 <div class="leftprof fl">
                                    <text>
                                        Category <a title="Products of this category" style="cursor:pointer;" href="/search?searchkey=@featured.Category.CategoryName">@featured.Category.CategoryName</a>
                                    </text>
                                </div>
                            </div>
                        </div>
                        <div class="profLast clearfix">
                            <div class="leftprofLast fl"><h4>Price</h4></div>
                            <div class="rightprofLast fr"><h5>@(featured.Price)</h5></div>
                        </div>
                    </div>
                }
            </div>
            <div class="left-symbol"><img src="/Images/sliderRightarrow.png" alt="images"></div>             <div class="right-symbol"><img src="/Images/sliderLeftarrow.png" alt="images"></div>
        </div>
    </div>
</div>
<!--End Featured Professionals-->
 <script src="~/Scripts/jquery.flexslider-min.js"></script>
@section Scripts{
    <script>

        $(function () {
            $(document).ready(function () {
                $('.flexslider').flexslider({
                    animation: "fade",
                    slideshowSpeed: 800,
                    animationSpeed: 800,
                    controlNav: false,
                    directionNav: true,
                    controlsContainer: ".flex-container" // the container that holds the flexslider
                });
            });
        });

      window.onload = function () {
      if ('@Request.QueryString["returnUrl"]' != '') {
       $('#returnUrl').val('@Request.QueryString["returnUrl"]')
       $('.loginpopup').trigger('click');
    }

    if ('@(Request.UrlReferrer !=null ?Request.UrlReferrer.AbsolutePath.ToLower():"")' == '/account/resetpassword') {
                   $('.loginpopup').trigger('click');
    }
                          if('@TempData["VerificationLinlMsg"]'!='')             {
     swal('@TempData["VerificationLinlMsg"]', '', 'success');
            }
        }   

        

        </script> }  